$primary: #00c020 !default; // Permite sobreescribir variables si ya están definidas
$secondary: #bbc108 !default;
$success: #28a745 !default;
$info: #0dcaf0 !default;
$warning: #fd7e14 !default;
$danger: #dc3545 !default;
$light: #f8f9fa !default;
$dark: #343a40 !default;
$btn

// Usa Bootstrap con @use
@use "bootstrap" with (
    $primary: $primary,
    $secondary: $secondary,
    $success: $success,
    $info: $info,
    $warning: $warning,
    $danger: $danger,
    $light: $light,
    $dark: $dark
);